/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page .theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    .pageчем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --text-color-accent: rgba(53, 52, 48, 1);
  --subtitle-color-accent: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --accent-color-nav: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --accent-title-color: rgba(255, 0, 112, 1);
  --font-family: "IBM Plex mono", monospace;
  --font-style: normal;
  --font-size-small: 18px;
  --font-weight-large: 700;
  --font-weight-small: 400;
  --line-height-small: 130%;
  --line-height-large: 82.5%;
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
.page {
  background-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --text-color-accent: rgba(53, 52, 48, 1);
  --subtitle-color-accent: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --accent-color-nav: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --accent-title-color: rgba(255, 0, 112, 1);
  --font-family: "IBM Plex mono", monospace;
  --font-style: normal;
  --font-size-small: 18px;
  --font-weight-large: 700;
  --font-weight-small: 400;
  --line-height-small: 130%;
  --line-height-large: 82.5%;
}

.header__decor {
  display: none;
}
}